div #apresentacao {
  background-color: rgb(51, 45, 45) !important;
}

#apresentacao .container {
  color: white;
  display: flex;

  padding: 35px 0;
  gap: 40px;
}

#apresentacao .texto-apresentacao {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  flex: 1; /* Faz com que o texto ocupe o espaço restante */
}

#apresentacao .texto-apresentacao p {
  line-height: 32px;
  text-align: justify;
}

#apresentacao h1 {
  font-size: 50px;
}

#apresentacao h3 {
  font-size: 25px;
}

#apresentacao .social-media-icon {
  transition: all 0.3s;
  margin-right: 10px !important;
  &:hover {
    transform: scale(1.2);
  }
}

/* Tecnologias */

#tecnologias {
  /* width: 90%;
  border: 1.8px solid rgb(51, 45, 45);
  margin: 10px auto; */
  border-radius: 10px;
  margin: 70px 0 40px 0;
}

#tecnologias .container {
  margin: 15px auto;
  border: 4px solid rgb(51, 45, 45);
  border-radius: 10px;
  padding: 20px;
}

#tecnologias .container h3 {
  text-align: center;
  margin: 5px 0 10px 0;
}

#tecnologias .lista-tecnologias {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

#tecnologias .lista-tecnologias div {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: black; */

  transition: all 0.9s;
  &:hover {
    transform: scale(1.25);
  }
}

#tecnologias .lista-tecnologias p {
  font-weight: 500;
}

.tecnologias-btn {
  background: none;
  border: none;
}

/* Projetos */

#projetos {
  margin-top: 80px;
}

.projetos-container {
  border-left: 5px solid rgb(51, 45, 45);
  border-radius: 2px;
  /* padding-left: 15px; */
  padding: 15px;
  /* padding: 15px 15px 15px 15px; */
  /* transition: all 0.5s; */
  /* opacity: 0; Começa invisível */
  animation: fadeInAnimation 2s forwards; /* Animação de 2 segundos */
  margin-top: 25px;
  height: 670px;
  overflow-y: scroll;
}

.projeto-box {
  margin-bottom: 50px;
  /* padding-bottom: 10px; */
  /* border-bottom: 2px solid rgb(51, 45, 45); */
}

#projetos p {
  line-height: 30px;
  text-align: justify;
}

.tecnologias-projeto-container {
  height: 35px;
}

.tecnologias-usadas-projetos ul {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0; */
  padding-left: 10px;
  gap: 10px;
  margin-bottom: 25px;
}

.tecnologias-usadas-projetos li {
  list-style-type: none;
  background-color: rgb(102, 102, 255);
  padding: 1px 12px;
  border-radius: 10px;
  color: white;
  font-size: 13px;
}

.link-repositorio-container {
  transition: 0.9s;
  :hover {
    transform: scale(1.04);
    transition: 0.4s;
  }
}

.link-repositorio-fullstack {
  margin-right: 10px;
}

/* Pagina Contatos */

.link-contato {
  transition: all 0.5s;
  &:hover {
    transform: scale(1.05);
  }
}

#contato ul {
  padding: 0;
  margin-top: 35px;
}

#contato li {
  list-style-type: none;
  margin: 5px 0;
}

#contato p {
  text-align: justify;
  line-height: 32px;
}

/* Seção Experiencias */

#experiencias .experiencia-empresa {
  margin-bottom: 10px;
}

.icon-empresa-experiencia,
.icon-periodo-experiencia {
  margin-bottom: 3px;
}

.tecnologias-experiencia {
  margin: 12px 0;
}

.lista-tecnologias-experiencia {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 2px 5px;
}

.lista-tecnologias-experiencia div {
  transition: all 0.6s;
  &:hover {
    transform: scale(1.08);
  }
}

.lista-tecnologias-experiencia div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Seção formacao */

#formacao,
#experiencia {
  margin-top: 70px;
}

.formacao-container,
.experiencia-container {
  border-left: 5px solid rgb(51, 45, 45);
  border-radius: 2px;
  padding: 15px;
  margin-top: 25px;
}

.formacao-container p,
.experiencia-container p {
  margin: 0;
}

@media screen and (max-width: 770px) {
  .projeto-box {
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 770px) {
  #apresentacao .container {
    flex-wrap: wrap;
    gap: 0px;
  }

  .imagem-container {
    width: 100%;
    display: flex;
  }

  #apresentacao img {
    width: 270px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 560px) {
  #tecnologias .container {
    border: none;
  }
  #apresentacao .texto-apresentacao h1 {
    font-size: 35px;
  }

  #apresentacao .texto-apresentacao h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .link-repositorio-fullstack {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 360px) {
  #apresentacao img {
    width: 240px;
  }
}
