body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#navbar {
  flex-wrap: wrap;
}

.links-navbar {
  flex-wrap: wrap;
}

#navbar a {
  transition: all 0.2s;
  &:hover:not(.titulo-navbar) {
    text-decoration: underline;
    transform: scale(1.04);
  }
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

/* Apresentação:  */

/* #apresentacao .container {
  background-color: rgb(51, 45, 45) !important;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
} */
